html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #e6e6e6;
}
header {    
    max-width: 1024px;
    margin: 0 auto;
}
.nav-container {
    background-color: #C6D9DF;
}
.nav {
    min-height: 70px;
}
.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 17px;    
}
.nav li {
    list-style: none;
}
.nav li a {
    font-size: 1.5em;
    font-weight: 700;
    color: #335384;
    text-decoration: none;
}
.nav li:hover {
    background-color: #8db4bf;
    border-radius: 10px;
}
.nav li a:hover {
    color: #FFFFFF;
}
.nav-burger {
    display: none;
}
.nav-burger ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.nav-burger li {
    padding-left: 10px;
    list-style: none;
}
.nav-burger li a {
    font-size: 1em;
    font-weight: 600;
    color: #335384;
    text-decoration: none;
}
.open-close-button {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-image: url(/images/hamburger-menu-more-navigation.svg);
    background-color: transparent;
    border: none;
}
.button-open {
    background-image: url(/images/close.svg);
}
.menu-open {
    display: block;
}
.main-content {
    max-width: 1024px;
    margin: 0 auto;
}
.columns {
    display: flex;
}
.left-column {
    max-width: 40%;
    padding: 40px;
    background-color: #094B72;
    color: #FFFFFF;
}
.right-column {
    max-width: 70%;
    padding: 40px;
    background-color: #FFFFFF;
    color: #444440;
}
.contact {
    padding-left: 0;
    line-height: 2;
    list-style-type: none;
}
.left-column section {
    margin-top: 60px;
}
.right-column section {
    margin-top: 30px;
}
.right-column h2 {
    color: #5ba7d1;
}
h1 {
    font-size: 2.8em;
    color: #335384;
    text-transform: uppercase;
}
h2 {
    font-size: 1.2em;
    text-transform: uppercase;
}
.job-title {
    font-size: 1.8em;
}
.company-year {
    color: #a09b9c;
}
.non-bullet {
    padding-left: 0;
    list-style-type: none;
}
hr {
    width: 100px;
    height: 1px;
    margin-left: 0;
    background-color: #335384;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #C6D9DF;
}
.project-image {
    max-width: 450px;
}
figure {
    margin: 0;
    padding: 0;
}
pre {
    max-width: 450px;
}
.alt-name {
    font-size: 2.8em;
}
.alt-job-title {
    font-size: 1.8em;
}
@media (min-width: 861px) {
    .open-close-button {
        display: none;
    }
    .nav-burger {
        display: none;
    }
    .alt-name {
        display: none;
    }
    .alt-job-title {
        display: none;
    }
}
@media (max-width: 860px) {
    h1 {
        display: none;
    }
    .job-title {
        display: none;
    }
    .nav {
        display: none;
    }
    .columns {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .left-column {
        flex: 1;
        max-width: 100%;
    }
    .right-column {
        max-width: 100%;
    }
}
@media (max-width: 550px) {
    .project-image {
        max-width: 400px;
    }
    pre {
        max-width: 400px;
    }
}
@media (max-width: 450px) {
    .project-image {
        max-width: 300px;
    }
    pre {
        max-width: 300px;
    }
}
@media (max-width: 380px) {
    .project-image {
        max-width: 280px;
    }
    pre {
        max-width: 280px;
    }
    .left-column {
        padding: 10px;
    }
    .right-column {
        padding: 10px;
    }
    .alt-name {
        font-size: 2.5em; 
    }
    .alt-job-title {
        font-size: 1.6em;
    }
}
@media (max-width: 480px) {
    .left-column {
        padding: 20px;
    }
    .right-column {
        padding: 20px;
    }
}